/**
 *
 * JQUERY EU COOKIE LAW POPUPS
 * version 1.1.1
 *
 * Code on Github:
 * https://github.com/wimagguc/jquery-eu-cookie-law-popup
 *
 * To see a live demo, go to:
 * http://www.wimagguc.com/2018/05/gdpr-compliance-with-the-jquery-eu-cookie-law-plugin/
 *
 * by Richard Dancsi
 * http://www.wimagguc.com/
 *
 */
.clearfix {
	clear: both;
}

.eupopup-container {
	background-color: #222;
	color: #dedede;
	padding: 20px 30px;
	font-size: 15px;
	line-height: 1.5;
	text-align: center;
	display: none;
	z-index: 998;
}

.eupopup-container-top,
.eupopup-container-fixedtop {
	position: absolute;
	top: 0; left: 0; right: 0;
}

.eupopup-container-fixedtop {
	position: fixed;
}

.eupopup-container-bottom {
	position: fixed;
	bottom: 0; left: 0; right: 0;
}

.eupopup-container-bottomleft {
	position: fixed;
	bottom: 10px;
	left: 10px;
	width: 300px;
}

.eupopup-container-bottomright {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 300px;
}

.eupopup-closebutton {
    position: absolute;
	top: 0;
    right: 0;
	padding: 5px 7px;
}

.eupopup-closebutton svg {
    width: 22px;
    fill: #fff;
    pointer-events: none;
    vertical-align: top;
}

.eupopup-closebutton:hover,
.eupopup-closebutton:active {
	color: #fff;
	text-decoration: none;
}

.eupopup-closebutton:hover svg,
.eupopup-closebutton:active svg {
    fill: #dedede;
}

.eupopup-head {
	font-weight: 700;
	padding: 7px;
	color: #fff;
}

.eupopup-body {
	color: #dedede;
    font-weight: 400;
}

.eupopup-buttons {
	padding: 17px 0 10px 0;
}

.eupopup-button_1 {
	color: #353434;
    background-color: #fcfbf7;
}

.eupopup-button_2 {
	color: #fcfbf7;
    background-color: transparent;
}

.eupopup-button {
	margin: 0 10px;
    font-weight: 700;
	font-size: 14px;
    line-height: 14px;
    padding: 6px 10px;
    text-decoration: none;
}

.eupopup-button_1:hover,
.eupopup-button_1:focus {
	text-decoration: none;
	color: #222;
    background-color: #870541;
}

.eupopup-button_2:hover,
.eupopup-button_2:focus {
	text-decoration: none;
	color: #870541;
    border-bottom: none;
}

body .eupopup-color-inverse {
	color: #000;
	background-color: rgba(255, 255, 255, 0.9);
}

body .eupopup-color-inverse .eupopup-head {
	color: #000;
}

body .eupopup-style-compact {
	text-align: left;
	padding: 8px 30px 7px 20px;
	line-height: 15px;
}

body .eupopup-style-compact .eupopup-head,
body .eupopup-style-compact .eupopup-body,
body .eupopup-style-compact .eupopup-buttons {
	display: inline;
	padding: 0;
	margin: 0;
}

body .eupopup-style-compact .eupopup-button {
	margin: 0 5px;
}

.eupopup-container-hide {
    display: none !important;
}

