

.main {
    /*width: 100%;
    height: 100%;
    padding-left: 300px;
    padding-top: 2em;
    padding-bottom: 3em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 55;
    background: #39312e;
    clear: both;*/
}

.main .grid {
    display: inline-block;
    width: 33.33333333333333%;
    height: auto;
    margin: 0;
    padding: 0;
}

/* http://tympanus.net/codrops/2014/06/19/ideas-for-subtle-hover-effects/ */
/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
    width: 100%;
    height: auto;
	opacity: 0.9;
}

.grid figure figcaption {
	/*padding: 2em;*/
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
    font-size: 1em;
    color: rgba(34, 34, 34, 0.7);
}

.grid figure h2 span {
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 75%;
}

/*
.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
 
.clearfix {  
    *zoom: 1;  
}
*/


/*---------------*/
/***** Bubba *****/
/*---------------*/

figure.effect-bubba {
	/*background: #39312e;*/
}

figure.effect-bubba img {
	-webkit-transition: opacity 0.55s;
	transition: opacity 0.55s;
	opacity: 0.9;
}

figure.effect-bubba:hover img {
	opacity: 0.5;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.55s, -webkit-transform 0.55s;
	transition: opacity 0.55s, transform 0.55s;
}

figure.effect-bubba figcaption::after {
	border-top: 2px solid rgba(34, 34, 34, 0.7);
    border-bottom: 2px solid rgba(34, 34, 34, 0.7);
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba h2 {
	padding-top: 87%;
	-webkit-transition: -webkit-transform 0.55s;
	transition: transform 0.55s;
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
    font-size: 1em;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

figure.effect-bubba p {
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.55s, -webkit-transform 0.55s;
	transition: opacity 0.55s, transform 0.55s;
	-webkit-transform: translate3d(0,30px,0);
	transform: translate3d(0,30px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

@media only screen and (max-width: 768px) {
    figure.effect-bubba h2 {
        padding-top: 81%;
        font-size: .75em;
    }
}





.gridder {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    /*font-size: 0;*/
}

.gridder-list {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    /*font-size: 24px;*/
}

.gridder-show {
    /*display: block;
    float: left;
    width: 100%;
    position: relative;
    background: #EEE url("../img/loading-spin.svg") no-repeat center*/
}

.gridder-show.loading {
    background: #EEE url("../img/loading-spin.svg") no-repeat center
}

.gridder-content{display:none}

/*.gridder-list{width:15.83333%}

.gridder-list:nth-child(n){margin-bottom:1%;margin-right:1%}

.gridder-list:nth-of-type(6n){margin-right:0;margin-bottom:0}*/

.gridder-show {
    margin: 0;
    padding-bottom: 1%;
    padding-top: 1%;
    display: block;
    float: left;
    width: 100%;
    position: relative;
    //background-color: #eaeaea;
    border-top: 2px solid rgba(34, 34, 34, 1);
    border-bottom: 2px solid rgba(34, 34, 34, 1);
}

.gridder-navigation .gridder-nav.disabled {
    opacity: .5;
}

.gridder-nav {
    display: none;
}

.work-gridder .gridder-nav {
    display: block;
}

.gridder-list:hover {
    /*opacity: 0.8;*/
}

.hasSelectedItem .gridder-list {
    opacity: 1;
    -webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.work-gridder .hasSelectedItem .gridder-list {
    opacity: 0.2;
}

.work-gridder .hasSelectedItem .gridder-list.selectedItem {
    opacity: 1;
}

.hasSelectedItem .gridder-list.selectedItem figure::after {
	top: auto;
    bottom: 0;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #870541;
	border-width: 15px;
	left: 50%;
	margin: -30px 0 0 -15px;
}



.gridder {
    /*margin:0px;
    padding:0px;
    list-style-type:none;
    font-size:0;*/
}

.gridder-list,
.gridder-show {
    /*font-size:16px;*/
}

.gridder-list {
    /*display:inline-block;
    vertical-align:top;*/
}

.gridder-content {
    display: none;
}

.gridder-padding {
    padding: 3em 0;
}


/* Gridder expanded */
.row {
	/*display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;

	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;

	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	box-direction: normal;

	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;*/
    
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    /*-webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;*/
}

.row-img {
	/*-webkit-box-flex: 0;
	-moz-box-flex: 1;
	box-flex: 0;

	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	box-ordinal-group: 1;
    
    width: 33.33333333333333%;*/
    
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333333333333%;
        -ms-flex: 0 0 33.33333333333333%;
            flex: 0 0 33.33333333333333%;
}

.row-copy {
	/*-webkit-box-flex: 0;
	-moz-box-flex: 2;
	box-flex: 0;

	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	box-ordinal-group: 1;*/
    
    /*width: 58.66666666666666%;*/
    margin-left: 4%;
    margin-right: 4%;
    
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.66666666666666%;
        -ms-flex: 0 0 58.66666666666666%;
            flex: 0 0 58.66666666666666%;
}

.row-copy-x3 {
	/*-webkit-box-flex: 0;
	-moz-box-flex: 2;
	box-flex: 0;

	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	box-ordinal-group: 1;
    
    width: 25.33333333333333%;*/
    margin-left: 4%;
    margin-right: 4%;
    
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25.33333333333333%;
        -ms-flex: 0 0 25.33333333333333%;
            flex: 0 0 25.33333333333333%;
}

.row h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
    font-size: 1.750em;
    text-transform: uppercase;
}

.row h2 span {
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
}

.row h2::after {
    position: relative;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 5%;
    height: 1px;
    background: #fff;
    content: '';
}

.row p,
.row li {
    font-size: 1.250em;
    line-height: 1.7;
}

.row p {
    margin: 0.650em 0;
}

.row img {
    width: 100%;
    height: auto;
    display: -moz-box;
    -moz-box-flex: 1;
}

.gridder-close,
.gridder-nav {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
    text-decoration: none;
    border-bottom: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    -webkit-transition: all 0.4s;
     -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
          transition: all 0.4s;
}

.gridder-close {
	right: 20px;
}

.gridder-nav.prev {
	right: 100px;
}

.gridder-nav.next {
	right: 60px;
}

.gridder-close:before,
.gridder-nav:before {
	/*font-family: 'Ionicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
    display: block;
	margin-bottom: 10px;
    color: #fff;
    font-size: 40px;
    text-align: center;*/
}

.gridder-close {
    background-image: url(../img/ios-close.svg);
}

.gridder-nav.prev {
    background-image: url(../img/ios-arrow-left.svg);
}

.gridder-nav.next {
    background-image: url(../img/ios-arrow-right.svg);
}

.gridder-close:hover {
	-webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
}

.gridder-nav.prev:hover {
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    transform: translateX(-5px);
}

.gridder-nav.next:hover {
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px);
}

.gridder-close:hover,
.gridder-nav.prev:hover,
.gridder-nav.next:hover {
    border-bottom: none;
}


@media screen and (max-width: 768px) {
    .row {
        display: block;
    }
}

.gridder-copy {
    padding: 0 0 0 2em;
}

.gridder-copy h3 {
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 100%;
}

.gridder-copy p {
    margin: 0;
}

.gridder-copy ul {
    padding: 0 0 0 1em;
}

.gridder-copy li {
    list-style: disc;
}

.gridder-copy img.media-v {
    float: right;
    max-width: 100%;
    height: auto;
}

/*  Responsive code  */
@media screen and (max-width: 1024px) {
    .main .grid {
        width: 50%;
    }
}

@media screen and (max-width: 550px) {
     .main .grid {
        width: 100%;
    }
}

@media screen and (max-width: 414px) {
     .gridder-copy {
        padding: 0 0 0 0.25em;
    }
}

