/*!
 * Preloader
 */

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #222; /* change if the mask should have another color then white */
	z-index: 9999; /* makes sure it stays on top */
}

#status {
    /*width: 40px;
    height: 40px;*/
    position: absolute;
    /*left: 50%;*/ /* centers the loading animation horizontally one the screen */
    /*top: 60%;*/ /* centers the loading animation vertically one the screen */
    /*margin: -20px 0 0 -20px;*/ /* is width and height divided by two */
}

/* -------------- Loader -------------- */
/* Loading spinner 
.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #fff;
  border-radius: 100%;  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { transform: scale(0.0) }
  100% {
    transform: scale(1.0);
    opacity: 0;
  }
}
*/

#loading{
	background-color: #222;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
	margin-top: 0px;
	top: 0px;
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
	}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 150px;
	width: 150px;
	margin-top: -75px;
	margin-left: -75px;	
	-ms-transform: rotate(45deg); 
   	-webkit-transform: rotate(45deg);
    transform: rotate(45deg); 

}
.object {
	background-color: #FFF;
	position: absolute;
	left: 65px;
	top: 65px;
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
	}
.object:nth-child(2n+0) {
	margin-right: 0px;

}
#object_one {
    width: 20px;
	height: 20px;
	-webkit-animation: object_one 2s infinite;
	animation: object_one 2s infinite;
	-webkit-animation-delay: 0.2s; 
    animation-delay: 0.2s; 
	}
#object_two {
    width: 16px;
	height: 16px;
	-webkit-animation: object_two 2s infinite;
	animation: object_two 2s infinite;
	-webkit-animation-delay: 0.3s; 
    animation-delay: 0.3s; 
	}
#object_three {
    width: 4px;
	height: 4px;
	-webkit-animation: object_three 2s infinite;
	animation: object_three 2s infinite;
	-webkit-animation-delay: 0.4s; 
    animation-delay: 0.4s; 
	}
#object_four {
    width: 12px;
	height: 12px;
	-webkit-animation: object_four 2s infinite;
	animation: object_four 2s infinite;
	-webkit-animation-delay: 0.5s; 
    animation-delay: 0.5s; 
}
#object_five {
    width: 8px;
	height: 8px;
	-webkit-animation: object_five 2s infinite;
	animation: object_five 2s infinite;
	-webkit-animation-delay: 0.6s; 
    animation-delay: 0.6s; 
}
#object_six {
    width: 6px;
	height: 6px;
	-webkit-animation: object_six 2s infinite;
	animation: object_six 2s infinite;
	-webkit-animation-delay: 0.7s; 
    animation-delay: 0.7s; 
}
#object_seven {
    width: 14px;
	height: 14px;
	-webkit-animation: object_seven 2s infinite;
	animation: object_seven 2s infinite;
	-webkit-animation-delay: 0.8s; 
    animation-delay: 0.8s; 
}
#object_eight {
    width: 10px;
	height: 10px;
	-webkit-animation: object_eight 2s infinite;
	animation: object_eight 2s infinite;
	 -webkit-animation-delay: 0.9s; 
    animation-delay: 0.9s; 
}

#object_big{
	position: absolute;
	width: 40px;
	height: 40px;
	left: 55px;
	top: 55px;
	-webkit-animation: object_big 2s infinite;
	animation: object_big 2s infinite;
	-webkit-animation-delay: 0.5s; 
    animation-delay: 0.5s;
}	




@-webkit-keyframes object_big {
 50% { -webkit-transform: scale(0.5); }

}

@keyframes object_big {
 50% { 
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
  } 

}




@-webkit-keyframes object_one {
 50% { -webkit-transform: translate(-55px,-55px)  ; }

}

@keyframes object_one {
 50% { 
    transform: translate(-55px,-55px) ;
    -webkit-transform: translate(-55px,-55px) ;
  } 

}



@-webkit-keyframes object_two {
  50% { -webkit-transform: translate(0,-65px) ; }
}

@keyframes object_two {
 50% { 
    transform: translate(0,-65px) ; 
    -webkit-transform: translate(0,-65px) ; 
  } 

}



@-webkit-keyframes object_three {
 50% { -webkit-transform: translate(15px,-15px) ; }
}

@keyframes object_three {
 50% { 
    transform: translate(15px,-15px) ;
    -webkit-transform: translate(15px,-15px) ;
  } 
}



@-webkit-keyframes object_four {
  
  50% { -webkit-transform: translate(55px,0) ; }

}

@keyframes object_four {
  50% { 
    transform: translate(55px,0) ;
    -webkit-transform: translate(55px,0) ;
  } 

}




@-webkit-keyframes object_five {
  
  50% { -webkit-transform: translate(35px,35px) ; }

}

@keyframes object_five {
  50% { 
    transform: translate(35px,35px) ;
    -webkit-transform: translate(35px,35px) ;
  } 

}



@-webkit-keyframes object_six {
  
  50% { -webkit-transform: translate(0,35px) ; }

}

@keyframes object_six {
  50% { 
    transform:  translate(0,35px) ;
    -webkit-transform:  translate(0,35px) ;
  } 

}




@-webkit-keyframes object_seven {
  
  50% { -webkit-transform: translate(-45px,45px) ; }

}

@keyframes object_seven {
  50% { 
    transform: translate(-45px,45px) ;
    -webkit-transform: translate(-45px,45px) ;
  } 

}


@-webkit-keyframes object_eight {
  
  50% { -webkit-transform: translate(-45px,0) ; }

}

@keyframes object_eight {
  50% { 
    transform: translate(-45px,0) ;
    -webkit-transform: translate(-45px,0) ;
  } 

}