/*********************************************
  * Filename: style.css
  * Website: http://cosmic.cat/
  * Author: Sokvist
  * Author URI: http://sokvist.com
  * Date: 12/02/2016
  * Version: 1.0
*********************************************/


@import "reset.less";
@import "preloader.less";
@import "mixins.less";


/* -------------------------------- 

Primary style

-------------------------------- */
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #222;
    background-color: #222;
}

body, html {
    /* important */
    height: 100%;
}

@media screen and (-ms-high-contrast: active),(-ms-high-contrast: none) {
    /* IE 10 & 11 */
    body {
        overflow-x: hidden;
    }
}

a {
    color: #870541;
    text-decoration: none;
    border-bottom: 1px dotted transparent;
    .transition04;
}

a:hover,
a:focus {
    border-bottom: 1px dotted #870541;
}

strong {
    font-weight: 600;
}

i {
    font-style: italic;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    width: 90%;
    max-width: 768px;
    margin: 0 auto;
}

.with-img .cd-container,
.vins .cd-container {
    max-width: 90%;
}

.cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
.cd-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    z-index: 99999;
}
.cd-header:after {
    content: "";
    display: table;
    clear: both;
}
.cd-header #cd-logo {
    float: left;
    margin: 12px 0 0 3%;
}

.cd-header #cd-logo span {
    font-weight: 900;
}

.cd-header #cd-logo img {
  display: block;
}

.cd-header #cd-logo a {
    color: #fff;
}

@media only screen and (min-width: 768px) {
    .cd-header {
        height: 70px;
    }
    .cd-header #cd-logo {
        margin: 23px 0 0 3%;
    }
}

.cd-main-nav {
    float: right;
    margin-right: 3%;
    width: 44px;
    height: 100%;
    background: url("../img/cd-icon-menu.svg") no-repeat center center;
    background-size: 44px 44px;
    cursor: pointer;
}

.cd-main-nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    .transition02;
}

.cd-main-nav ul.is-visible {
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    transform: translateY(50px);
}

.cd-main-nav .hidden {
    display: none;
}

.cd-main-nav a {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 5%;
    background: rgba(255, 255, 255, 0.8);
    border-top: 1px solid #870541;
    border-bottom: none;
    color: #870541;
    .transition04;
}

.cd-main-nav .current a {
    background: rgba(255, 255, 255, 1);
}

.no-touch .cd-main-nav a:hover,
.no-touch .cd-main-nav a:focus {
    background: rgba(135, 5, 65, 0.8);
    color: #fff;
}

@media only screen and (min-width: 768px) {
    .cd-main-nav {
        width: auto;
        height: auto;
        background: none;
        cursor: auto;
    }
    .cd-main-nav ul {
        position: static;
        width: auto;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        line-height: 70px;
        margin-right: 100px;
    }
    .cd-main-nav ul.is-visible {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    .cd-main-nav li {
        display: inline-block;
        margin-left: .750em;
    }
    .cd-main-nav a {
        display: inline-block;
        height: auto;
        line-height: normal;
        background: transparent;
        padding: .6em;
        border-top: none;
        color: #fff;/*#3d3536;*/
        text-transform: uppercase;
        font-size: 15px;
        font-size: 0.9375rem;
        border-top: 2px solid transparent;
    }
    .cd-main-nav .current a,
    .no-touch .cd-main-nav a:hover,
    .no-touch .cd-main-nav a:focus {
        background: transparent;
        border-top: 2px solid #870541;
        border-bottom: none;
    }
}

.language-chooser {
    position: absolute;
    right: 55px;
    top: 0;
    margin-right: 3%;
}

.language-chooser li {
    display: inline-block;
}

.language-chooser li a {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 .5em;
    text-align: center;
    background: rgba(255, 255, 255, 0.15);
    border-bottom: none;
    color: #fff;
    margin-left: 2px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    .transition04;
}

.language-chooser li a:hover,
.language-chooser li a:focus {
    color: #870541;
}

@media only screen and (min-width: 768px) {
    .language-chooser {
        right: 3%;
        margin-right: 0;
    }
    .language-chooser li a {
        height: 70px;
        line-height: 70px;
    }
}


.cd-main-content {
    /* you need to assign a min-height to the main content so that the children can inherit it*/
    height: 100%;
    position: relative;
    z-index: 1;
}

.cd-fixed-bg {
    position: relative;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
}

.cd-fixed-bg h1,
.cd-fixed-bg h2 {
    position: absolute;
    left: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    max-width: 1170px;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    color: white;
}

.cd-fixed-bg h1 {
    top: 50%;
    font-size: 36px;
    font-size: 2.125rem;
    font-weight: 900;
}

/*.cd-fixed-bg h1 span {
    font-weight: 600;
}*/

.cd-fixed-bg h1 img {
    width: 100%;
    max-width: 540px;
}

.cd-fixed-bg h2 {
    top: 70%;
    font-size: 30px;
    font-size: 1.875rem;
    font-weight: 900;
}

.cd-fixed-bg.cd-bg-1 {
    background-image: url("../img/bg-1.jpg");
}

.cd-fixed-bg.cd-bg-2 {
    background-image: url("../img/bg-2.jpg");
}

.cd-fixed-bg.cd-bg-3 {
    background-image: url("../img/bg-3.jpg");
}

.cd-fixed-bg.cd-bg-4 {
    background-image: url("../img/bg-4.jpg");
}

.cd-fixed-bg.cd-bg-5 {
    background-image: url("../img/bg-5.jpg");
}

.cd-fixed-bg.cd-bg-6 {
    background-image: url("../img/bg-6.jpg");
}

@media only screen and (min-width: 768px) {
    .cd-fixed-bg h1 {
        font-size: 48px;
    }
    .cd-fixed-bg h2 {
        font-size: 36px;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-fixed-bg {
        background-attachment: fixed;
    }
    .cd-fixed-bg h1 {
        font-size: 60px;
    }
    .cd-fixed-bg h2 {
        font-size: 48px;
        /*font-weight: 600;*/
    }
}

.cd-scrolling-bg {
    position: relative;
    /*min-height: 100%;*/
    padding: 4em 0;
    line-height: 1.8;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.cd-scrolling-bg.with-img,
.cd-scrolling-bg.vins {
    padding: 5% 0;
}

.cd-scrolling-bg.cd-color-1 {
    background-color: #fff;
    color: #222;
}
.cd-scrolling-bg.cd-color-2 {
    background-color: #fff;
    color: #222;
}
.cd-scrolling-bg.cd-color-3 {
    background-color: #fff;
    color: #222;
}

.cd-scrolling-bg h2 {
    font-size: 24px;
    font-size: 1.5rem;
}

.cd-scrolling-bg h3 {
    font-size: 22px;
    font-size: 1.375rem;
}

.cd-scrolling-bg h4 {
    font-size: 20px;
    font-size: 1.125rem;
}

.cd-scrolling-bg h2,
.cd-scrolling-bg h3,
.cd-scrolling-bg h4,
.cd-scrolling-bg p,
.cd-scrolling-bg ul,
.cd-scrolling-bg ol,
.cd-scrolling-bg dl {
    margin: 1em 0 0.5em;
}

.cd-scrolling-bg dt {
    font-weight: 600;
    margin-top: 0.5em;
}

@media only screen and (min-width: 768px) {
    .cd-scrolling-bg {
        padding: 6em 0;
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 2;
        font-weight: 300;
    }
    .cd-scrolling-bg.vins {
        padding: 5% 0;
    }
    .cd-scrolling-bg h2 {
        font-size: 26px;
        font-size: 1.625rem;
    }

    .cd-scrolling-bg h3 {
        font-size: 24px;
        font-size: 1.5rem;
    }

    .cd-scrolling-bg h4 {
        font-size: 22px;
        font-size: 1.375rem;
    }
}

/* Spotlight */

.spotlight {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

.spotlight .image {
    -moz-order: 1;
    -webkit-order: 1;
    -ms-order: 1;
    order: 1;
    border-radius: 0;
    width: 40%;
}

.spotlight .image img {
    border-radius: 0;
    width: 100%;
}

.spotlight .content {
    padding: 0 2em 0 5%;
    -moz-order: 2;
    -webkit-order: 2;
    -ms-order: 2;
    order: 2;
    max-width: 48em;
    width: 60%;
}

.spotlight.reverse .content {
    padding: 0 5% 0 2em;
}

.spotlight.reverse {
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    text-align: right;
}


@media screen and (max-width: 1280px) {

    .spotlight .image {
        width: 45%;
    }

    .spotlight .content {
        width: 55%;
    }

}

@media screen and (max-width: 1024px) {

    .spotlight {
        display: block;
    }

    .spotlight br {
        display: none;
    }

    .spotlight .image {
        width: 100%;
    }

    .spotlight .content,
    .spotlight.reverse .content {
        padding: 3em 3em 2em 3em ;
        max-width: none;
        text-align: center;
        width: 100%;
    }

}

@media screen and (max-width: 736px) {

    .spotlight .content,
    .spotlight.reverse .content {
        padding: 2em 2em 1em 2em ;
    }

}

/* Read more arrow */
.arrow {
    position: relative;
    width: 100%;
    height: 40px;
    margin-top: 30px;
    //border-top: 1px solid #870541;
    background-image: url("../img/android-arrow-dropdown.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    -webkit-box-shadow: 0 -1px 0 0 #9C9C9C;
    box-shadow: 0 -1px 0 0 #9C9C9C;
}

.bounce {
    -moz-animation: bounce 5s infinite;
    -webkit-animation: bounce 5s infinite;
    animation: bounce 5s infinite;
}

.arrow .more {
    display: block;
    height: 40px;
    border-bottom: none;
}

.arrow .more span {
    display: none;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}


/* Download PDF */
.pdf-file {
    display: inline-block;
    margin-top: 2em;
    border-bottom: none;
    
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    .transition04;
}

.pdf-file:hover,
.pdf-file:focus {
    border-bottom: none;
    
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
}


/* Social buttons */
ul.social {
    /*float: right;*/
    display: inline-block;
    list-style: none;
    margin-top: 2.250em;
}

ul.social li {
    float: left;
    margin-right: 0.750em;
}

ul.social li a {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #222;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 28px 28px;
    
    -webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
}

ul.social li a.youtube {
    background-image: url(../img/social-youtube.svg);
}

ul.social li a.facebook {
    background-image: url(../img/social-facebook.svg);
}

ul.social li a.twitter {
    background-image: url(../img/social-twitter.svg);
}

ul.social li a.insta {
    background-image: url(../img/social-instagram.svg);
}

ul.social li a.youtube:hover,
ul.social li a.youtube:focus {
    background-color: rgba(229, 45, 39, 1);
}

ul.social li a.facebook:hover,
ul.social li a.facebook:focus {
    background-color: rgba(59, 89, 152, 1);
}

ul.social li a.twitter:hover,
ul.social li a.twitter:focus {
    background-color: rgba(0, 172, 237, 1);
}

ul.social li a.insta:hover,
ul.social li a.insta:focus {
    background-color: rgba(225, 48, 108, 1);
}


/* Location */
.location a {
    padding-bottom: .50em;
    border-bottom: 2px solid transparent;
}

.location a:hover,
.location a:focus {
    border-bottom-color: #870541;
}

.location a:after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-bottom: -4px;
    background-image: url("../img/ios-location.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    .transition02;
}

.location a:hover::after {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}


/* Legal pages */
.legal {
    
    h1 {
        font-size: 2.5em;
    }
    
    h2, h3 {
        font-weight: 600;
    }
    
    h2 {
        font-size: 1.75em;
    }
    
    h3 {
        font-size: 1.25em;
    }
    
    ul {
        list-style-type: disc;
        padding-left: 1.25em;
    }
    
}


/* Footer */
.footer {
    position: relative;
    z-index: 3;
    padding: 0.850em 0;
    text-align: center;
    font-size: 0.9em;
    background-color: #fff;
    color: rgba(0,0,0,0.5);
    font-weight: 600;
}

.footer span {
    margin: auto 0.75em;
}

.footer a {
    color: rgba(0,0,0,0.5);
}

.footer a:hover {
    color: rgba(135, 5, 65, 1);
}


/* Back to top */
.cd-top {
    display: inline-block;
    height: 30px;
    width: 30px;
    position: fixed;
    bottom: 30px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(135, 5, 65, 0.8) url("../img/ios-arrow-up.svg") no-repeat center 50%;
    background-size: 28px 28px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
    z-index: 99;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}

.no-touch .cd-top:hover {
    background-color: #870541;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 40px;
        width: 40px;
        right: 20px;
        bottom: 20px;
    }
}



/* -------------------------------- 

Plugins

-------------------------------- */

@import "sss.less";
@import "gridder.less";
@import "eu-popup.less";
